$primary-color: #FFFFFF;
$secondary-color: #F2F2F2;
$tertiary-color: #383E4C;

$border-white: rgba(202, 202, 202, 0.589);

$button-light-green: #178A27;
$button-light-blue: #1686C1;
$button-dark-red: #852406;
