html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li, a{
  text-decoration: none;
  list-style: none;
}
:root {
  --cor01: #383E4C;
  --cor02: #49505F;
  --cor03: #F2F2F2;
  --cor04: #FFFFFF;
  --cor05: rgb(155, 155, 155);
}
