@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-img {
  background-image: url('../../public/images/bg-1.jpg');
}
.custom-img h1,p {
  
}

.services {
  background-image: url('../../public/images/bg-2.jpg');
  text-shadow: 1px 0px 0px rgb(59, 59, 57);
}

.active button {
  display: block;
  border: 1px solid rgb(179, 179, 179);
  background-color: white;
 
}
.light button{
  padding:0;
  margin: 0;
}