.header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #383E4C;
}

.fundo {
    background-image: url('../../public/images/bg-1.jpg');
    height: 750px;
    background-size: 100%;
    
 }
 
@media (max-width: 850px) {
    .header {
        background-color: white;
        height: 0px;
        display: flex;
        align-items: center;
       }
}