.header {
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #383E4C;
}
.teste {
   background-image: url('../../public/images/bg-1.jpg');
   height: 400px;
   margin: 0;
   padding: 0;
}
